{{#unless this.hideMobile}}
  {{#if this.shouldRender}}
    <div
      class="tag-banner-container"
      {{did-insert this.getTagInfo}}
      {{did-update this.getTagInfo this.shouldRender}}
      {{will-destroy this.resetTag}}
    >
      {{#if
        (or
          (not this.categoryBannerPresence.isPresent)
          (theme-setting "show_with_category_banners")
        )
      }}
        <DiscourseTagBannersPresentation
          @formattedTagName={{this.formattedTagName}}
          @formattedAdditionalTagNames={{this.formattedAdditionalTagNames}}
          @isIntersection={{this.isIntersection}}
          @tag={{this.tag}}
          @additionalClass={{this.additionalClass}}
        />
      {{else}}
        <DiscourseTagBannersTextOnly
          @formattedTagName={{this.formattedTagName}}
          @formattedAdditionalTagNames={{this.formattedAdditionalTagNames}}
          @tag={{this.tag}}
        />
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
          
